
body{
background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/*background: url(https://source.unsplash.com/jUwvjOmCTWc/1600x900);
	background-size: cover;
	background-position: center;*/
	/*height: 100vh;*/
	height: 550px;
	width:100%;
	color: white;
}
#calc{
	margin-top: 200px;
	padding: 15px;
	background: #070000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 20px;
}
.container{
	 
	width: 250px;
}
.input{
	width: 200px;
	padding: 5px;
	background: #e52d27;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 8px;
	text-align: right;
	border-radius: 5px;
}
.btn:hover{
	color:white;
}
.btn:select{
	color: white;
}
.btn-container{
	width: 50%;
}
.btn{
	width: 44px;
	margin: 2px;
	background: #8E0E00;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}
#row4{
	position: absolute;
}
#zero{
	width: 92px;
}
#equal{
	height: 72px;
	width: 44px;
	 margin: 2px;
}
#all-buttons{
	
	background: #070000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	width: 200px;
	border-radius: 5px;
}
#row5{
	margin-top: 38px;
}